<header class="header">
  <nav class="nav container" [ngClass]="{'active': isNavActive}">
    <a href="/" class="logo">
      <img src="../../../assets/images/oceb-logo.png" alt="Logo OCEB">
    </a>
    <button class="hamburger" (click)="toggleNav()"></button>
    <ul class=" nav-list">
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/sobre">Sobre</a></li>
      <li><a routerLinkActive="active" routerLink="/capelanias">Capelenia</a></li>
      <li><a href="#" routerLinkActive="active">Contato</a></li>
      <li><a href="#" routerLinkActive="active" class="cta-agendar">Agendar Curso</a></li>
    </ul>
  </nav>
</header>
