<section class="introducao background">
  <h1 class="introducao-titulo">Agendar curso</h1>
  <p class="introducao-p">Envie sua mensagem. Agende seu curso</p>
</section>

<main class="container">
  <div class="contato">
    <h2>Entre em contato e agende seu curso</h2>
    <p><a href="#">+55 (61) 98877-5544</a></p>
    <p><a href="#">ocebrasil@gmail.com</a></p>
    <ul class="redes-socias">
      <li><img src="../../../assets/images/gmail-logo.png" alt="E-mail"></li>
      <li><img src="../../../assets/images/whatsapp-logo.png" alt="WhatsApp"></li>
      <li><img src="../../../assets/images/telegram-logo.png" alt="Telegram"></li>
    </ul>
  </div>
</main>
