.dialog-curso {
  padding: 1rem 0;
  background: #fff;

  ul {
    list-style: none;

    li {
      color: #425466;

      .list-info {
        font-weight: 600;
      }
    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  h1 {
    color: #000;
    text-align: center;
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
}
